
<!--{
    ViewBag.Title = "Student";
}-->

<script src="/Scripts/angular.js"></script>
<script src="/Scripts/Student.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<h2>Student</h2>
<div ng-app="myApp">
    <div ng-controller="myCntrl">
           <div class="form_horizontal" role="form">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-4">
                           <div class="form-group">
                               <label class="control-label">Student Name :</label>
                               <input type="text" class="form-control" placeholder="Enter the name ..." ng-model="SName" />
                           </div>
                       </div>
                       <div class="col-sm-4">
                           <div class="form-group">
                               <label class="control-label">Student Age :</label>
                               <input type="text" class="form-control" placeholder="Enter the Age ..." ng-model="SAge" />
                           </div>
                       </div>
                       <div class="col-sm-4">
                           <div class="form-group">
                               <label class="control-label">Student Department :</label>
                               <input type="text" class="form-control" placeholder="Enter the Department ..." ng-model="SDepartment" />
                           </div>
                       </div>

                   </div>

                   <div class="row" style="margin-top: 10px">
                       <div class="col-sm-12">
                           <div class="form-group">
                               <input type="submit" class="form-control" id="insertStd" value="Submit" ng-click="InsertStudent()" />
                           </div>
                       </div>
                   </div>
               </div>

           </div>

       <div ng-init="GetAllStudent()" style="margin-top: 40px" >

           <h4>Student Record</h4>
           <table cellpadding="12" class="table table-bordered table-hover" >
               <tr style="color: white; background-color: blue" >
                   <th style="width:20%">Id</th>
                   <th style="width:20%">Name</th>
                   <th style="width:20%">Age</th>
                   <th style="width:20%">Department</th>
                   <th style="width:20%">Actions</th>
               </tr>
               <tr ng-repeat="Std in Student">
                   <td style="width:20%">{{ Std.ID }}</td>
                   <td style="width:20%">{{ Std.Name }}</td>
                   <td style="width:20%">{{ Std.Age }}</td>
                   <td style="width:20%">{{ Std.Department }}</td>
                   <td style="width:20%">
                       <input type="button" ng-click="UpDateStudent(Std)" value="Update"  class="btn btn-warning"/>
                       <input type="button" ng-click="DeleteStudent(Std)" class="btn btn-danger" value="Delete"  />
                   </td>
               </tr>
           </table>
        </div>

    </div>

</div>
